---
import { base } from "../utils/basePath.js";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="About">
  <div class="flex flex-col md:flex-row items-center gap-10 p-6">
    <div class="flex-shrink-0 w-full md:w-1/2">
      <img
        class="border border-base-200 rounded-2xl shadow-sm object-cover w-full h-[30rem]"
        src={`${base}about-me-photo.webp`}
        alt="Rae Jansen having Poutine in Montreal"
      />
    </div>

    <div class="w-full md:w-1/2">
      <section class="my-3">
        <h2 class="font-bold text-2xl mb-2">Hello World! I'm Rae.</h2>
        <p class="pb-2">
          I’m a creative and passionate UX/UI designer based in Edmonton, Alberta. I firmly believe that the most exceptional designs emerge from creative collaboration. I don't just execute; I partner with clients to identify innovative solutions together.
        </p>
        <p class="pb-2">
          I remember a time when the internet felt like an adventure around every corner. I am dedicated to bringing some of that wonder back through my designs. When crafting any experience, I often challenge myself by asking, "What can I implement here that will bring some magic to the user experience?" This philosophy ensures my work is not just functional, but genuinely memorable.
        </p>
      </section>
    </div>
</div>

<!-- Beyond the Screen -->
<section class="my-3 pb-5">
  <h3 class="text-2xl font-bold mt-7 mb-3 text-center">Beyond UX</h3>

  <!-- photography -->
  <div class="bg-base-100 border border-base-200 rounded-2xl shadow-md p-5">
    <div class="grid md:grid-cols-2 gap-6 items-center">
      <!-- info -->
      <section class="space-y-2">
        <h4 class="text-xl font-bold">Photography</h4>
        <p>
          I love to integrate photography services for my web design clients. This is my preferred method for collecting unique, authentic assets for the website and understanding a business’s culture and values firsthand. It ensures the final product is a perfect visual match for the brand.
        </p>
      </section>
      <!-- photos -->
      <figure class="hover-gallery grid gap-3 sm:grid-cols-2">
        <img
          class="aspect-[16/9] w-full object-cover border border-base-200 rounded-xl shadow-sm"
          src={`${base}photography1.webp`}
          alt="Photography 1"
        />
        <img
          class="aspect-[16/9] w-full object-cover border border-base-200 rounded-xl shadow-sm"
          src={`${base}photography3.webp`}
          alt="Photography 3"
        />
        <img
          class="aspect-[16/9] w-full object-cover border border-base-200 rounded-xl shadow-sm"
          src={`${base}photography4.webp`}
          alt="Photography 4"
        />
      </figure>
    </div>
  </div>

  <!-- illustration -->
  <div class="bg-base-100 border border-base-200 rounded-2xl shadow-md p-5 my-5">
    <div class="grid md:grid-cols-2 gap-6 items-center">
      <!-- photos -->
      <figure class="hover-gallery grid gap-3 sm:grid-cols-2 order-last md:order-first">
        <img
          class="aspect-[16/9] w-full object-cover border border-base-200 rounded-xl shadow-sm"
          src={`${base}illustration2.png`}
          alt="Rae's Illustration"
        />
        <img
          class="aspect-[16/9] w-full object-cover border border-base-200 rounded-xl shadow-sm"
          src={`${base}illustration3.png`}
          alt="Rae's Illustration"
        />
        <img
          class="aspect-[16/9] w-full object-cover border border-base-200 rounded-xl shadow-sm"
          src={`${base}illustration1.png`}
          alt="Rae's Illustration"
        />
      </figure>
      <!-- info -->
      <section class="space-y-2">
        <h4 class="font-bold text-xl">Illustration</h4>
        <p>
          When I step away from design, I dedicate time to my other creative pursuits. Illustration has been a favorite hobby for over 20 years, bringing a disciplined eye for visual detail and composition to all my professional work. I also love to travel; I find that my best creative work is often directly inspired by the new perspectives I gain from experiencing a different city or culture.
        </p>
      </section>
    </div>
  </div>
  <!-- lifelong learning -->
  <div class="flex flex-col sm:flex-row gap-5 items-center">
    <section>
      <h4 class="font-bold text-xl">Lifelong Learning</h4>
        <p class="pb-2">
          I am a committed lifelong learner. Over the last five years, I have averaged 53 books read annually. I explore a broad spectrum of ideas, from self-improvement and classic novels to philosophy—if the idea is interesting, I want to read about it. This constant intake of knowledge fuels my curiosity and ensures my design thinking is always evolving.
        </p>
    </section>
  </div>
</section>
</Layout>
